<div class="log-container">
  <div class="login-card">

    <div class="avatar">
      <img src="assets/images/TVM Infotech Logo.jpg" class="avatar-img" />
    </div>

    <h2>Login</h2>

    <form [formGroup]="login">
      
      <div class="input-group">
        <i class="bi bi-person-fill"></i>
        <input type="text" formControlName="username" placeholder="Username" />
      </div>

      <div class="input-group">
        <i class="bi bi-lock-fill"></i>
        <input type="password" formControlName="password" placeholder="Password" />
      </div>

      <button type="button" (click)="enter()">Login</button>

      <div class="toggle-text links">
        <a (click)="navigateToRegister()">New User? Register Here</a><br />
        <a (click)="navigateToForgotPassword()">Forgot Password?</a>
      </div>

    </form>

  </div>
</div>
