<!-- LOGIN PAGE -->
<div *ngIf="!showLayout">
  <app-login (loginSuccess)="handleLoginSuccess()"></app-login>
</div>

<!-- MAIN LAYOUT -->
<div *ngIf="showLayout" class="app-container">



<div class="app-container" *ngIf="isLoggedIn">
  <div class="sidebar" [ngClass]="{ expanded: isExpanded }">
    <div class="header" (click)="navigateTo('home', 'new-Home')">
      <img src="../assets/images/TVM Infotech Logo.jpg" alt="Logo" />
    </div>

    <div class="menu">
      <div class="content" *ngFor="let item of menuItems">
        <div class="link" (click)="navigateTo(item.link, item.path)" [ngClass]="{ active: activeLink === item.link }">
          <i [class]="item.icon"></i>
          <span class="title">{{ item.title }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
