.navbar {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 2rem;
  justify-content: flex-start;
  background-color:#2e3b61;

}

.nav-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #f9f9f9;
  font-weight: bold;
  position: relative;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 10px;
}

.nav-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:  #0088ff;
  transition: width 0.3s;
}

.nav-item:hover {
  // background-color: #f1f1f1;
  color: #f7f8fa;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item:active {
  transform: scale(0.95);
  // background-color: #e0e0e0;
  // color: #123;
}

.nav-item.active {
  // background-color: #f1f1f1;
  // color: #1e3c72;
}

.nav-item.active::after {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .nav-item {
    padding: 0.5rem 1rem;
    width: 100%;
  }
}

.breadcrumb-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: rgb(246, 250, 253);
  font-weight: bold;
  position: relative;
  transition: color 0.3s, background-color 0.3s;
}
.breadcrumb {
display: flex;
flex-direction: row;
justify-content: flex-start;
background: linear-gradient(90deg, #1e3c72, #2a5298);
padding: 0.5rem 1rem;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
background-size: cover;
}
/* RGB EFFECT */

.rgb-animate {
	animation-iteration-count: infinite;
	animation-duration: 10s;
	animation-name: rgb_anim;
}

/* RGB HOVER EFFECT */

.rgb-animate-hvr:hover {
	animation-iteration-count: infinite;
	animation-duration: 20s;
	animation-name: rgb_anim;
}

/* RGB ANIMATION EFFECT */

@keyframes rgb_anim {
	from {
		filter: hue-rotate(0deg);
	}
	50% {
		filter: hue-rotate(360deg);
	}
	to {
		filter: hue-rotate(0deg);
	}
}

/* CSS */

* {
	margin: 0;
	padding: 0;
	// color: white;
	font-weight: 600;
	letter-spacing: 0.1em;
}

.content {
  min-height: 10vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 1rem;
  align-content: center;
  align-items: start;
}

.content:last-child {
	// background: #de6161;
	// background: -webkit-linear-gradient(
	// 	to right bottom,
	// 	#2657eb,
	// 	#de6161
	// ); 
	// background: linear-gradient(
	// 	to right bottom,
	// 	#2657eb,
	// 	#de6161
	// ); 
}

a {
	text-decoration: none;
}

.btn {
	padding: 20px 45px;
	background: #5c258d; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right bottom,
		#4389a2,
		#5c258d
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right bottom,
		#4389a2,
		#5c258d
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
