<!-- <app-login *ngIf="!isLoggedIn" (loginSuccess)="handleLoginSuccess()"></app-login>


<div class="app-container" *ngIf="isLoggedIn">
  <div class="sidebar" [ngClass]="{ expanded: isExpanded }">
    <div class="header" (click)="navigateTo('home', 'new-Home')">
      <img src="../assets/images/TVM Infotech Logo.jpg" alt="Logo" />
    </div>

    <div class="menu">
      <div class="content" *ngFor="let item of menuItems">
        <div class="link" (click)="navigateTo(item.link, item.path)" [ngClass]="{ active: activeLink === item.link }">
          <i [class]="item.icon"></i>
          <div class="title-home">{{ item.title }}</div>
        </div>
      </div>
    </div>
  </div> -->